@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sfpro";
  src: url("/fonts/SFPRODISPLAYREGULAR.OTF") format("truetype");
}

@font-face {
  font-family: "sfpro";
  src: url("/fonts/SFPRODISPLAYMEDIUM.OTF") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "sfpro";
  src: url("/fonts/SFPRODISPLAYBOLD.OTF") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "sfpro";
  src: url("/fonts/SFPRODISPLAYLIGHT.OTF") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "sfpro";
  src: url("/fonts/SFPRODISPLAYSEMIBOLD.OTF") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "sfpro";
  src: url("/fonts/SFPRODISPLAYTHIN.OTF") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "sfpro";
  src: url("/fonts/SFPRODISPLAYREGULAR.OTF") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "sfpro";
  src: url("/fonts/SFPRODISPLAYULTRALIGHT.OTF") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "sfpro";
  src: url("/fonts/SFPRODISPLAYHEAVY.OTF") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "sfpro";
  src: url("/fonts/SFPRODISPLAYBLACK.OTF") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "sfpro";
  src: url("/fonts/SFPRODISPLAYULTRALIGHTITALIC.OTF") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "sfpro";
  src: url("/fonts/SFPRODISPLAYLIGHTITALIC.OTF") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "sfpro";
  src: url("/fonts/SFPRODISPLAYITALIC.OTF") format("truetype");
  font-weight: 400;
  font-style: italic;
}

body {
  color: black;
  /* font-family: sfpro, sans-serif; */
  font-family: "DM Sans", sans-serif;
}

.dotbg {
  background-color: #ffffff;
  opacity: 1;
  background-image: radial-gradient(#d0d0d0 2px, #ffffff 2px);
  background-size: 40px 40px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* fade card welcome page */
.fade-card {
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0.6;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

/* blob animation */
.myblob {
  animation: rotate 20s infinite;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* fade projects individual card */
.fade-projects {
  animation: fadeProjects 1s;
}

@keyframes fadeProjects {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(0px);
  }
}


/* fade projects bg image */
.fade-projects-bg {
  animation: fadeProjectsBg 1s;
  inset-inline-start: -4rem !important;
}

@keyframes fadeProjectsBg {
  0% {
    opacity: 0;
    
  }
  100% {
    opacity: 1;
  }
}